.el-dialog__header .el-dialog__headerbtn .el-dialog__close{color: #fff !important;}
.el-form--label-left .el-form-item__label{color: #909399;text-align: left !important; /*text-align: right !important;*/}
.detail-content .el-col-12 .el-col:first-child, .detail-content .el-col-24 .el-col:first-child,.detail-content .el-col-12 .el-col:last-child{line-height: 36px;}

.el-table--medium td{padding: 5px 0 !important;}

hr{background: #dcdfe6; border: 0; height: 1px ;}
.detail-title{
	font-size: 15px;
	color: #333;
	background: #eef1f6;
	padding: 15px 15px;
	border-radius: 5px;
}
.detail-title .svg-icon{margin-right: 10px;font-weight: normal;}
.detail-title span{
	font-weight: bold;
}
.detail-content{
	font-size: 14px;
	padding: 0 10px;
}
.textrow{line-height:23px;}

